/* Variables */
:root {
  --color: #fff;
  --active: #fff;
}

.toggle {
  background-color: #4caf50;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  border: 55px solid #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
  &:hover{
    background-color: #3f8f41;
  }
}

.toggle input {
  display: none;
}

.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
}

.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.toggle input + div div span:first-child {
  top: 0;
}

.toggle input + div div span:last-child {
  bottom: 0;
}

.toggle input + div div span:before,
.toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}

.toggle input + div div span:first-child:before,
.toggle input + div div span:first-child:after {
  top: 0;
}

.toggle input + div div span:last-child:before,
.toggle input + div div span:last-child:after {
  bottom: 0;
}

.toggle input + div div span:first-child:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:first-child:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div div span:last-child:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:last-child:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div svg {
  display: block;
  fill: none;
  stroke: var(--color);
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
    transform 0.5s ease, stroke 0.4s ease;
}

.toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
}

.toggle input:checked + div div {
  transform: rotate(90deg);
}

.toggle input:checked + div div span:before,
.toggle input:checked + div div span:after {
  background: var(--active);
}

.toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: var(--active);
}

.toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block; 

}

/* Dropdown Content (hidden by default) */
.dropdown-content {
  display: none; /* Hide by default */
  position: absolute;
  background-color: #4caf50;
  width: 85vw;
  height: 80vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 140%;
  right: 0;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 0 0 50px 50px; 
}

.dropdown-content::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 60px;
  height: 85px;
  bottom: 95%;
  right: 0;
  background-color: #4caf50;
}

.dropdown-content::before {
  position: absolute;
  content: url(../assets/Greencorner.svg);
  right: 59.89px; /* Use px or a fixed % */
  bottom: 99.5%;
  rotate: 180deg;
  z-index: -1;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 25px 50px;
  text-decoration: none;
  display: block;
  border-radius: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3f8f41;
  border-radius: 30px;
}
.dropdown-content.show {
  display: block; /* Ensure the dropdown is visible */
  opacity: 1; /* Fade in */
}


